<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    https://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="pizzastore"
          class="rowan.ood.dipizza.factory.di.PizzaStore">
        <constructor-arg index="0" ref="pizzaingredientfactory"/>
    </bean>

    <bean id="pizzaingredientfactory"
          class="rowan.ood.dipizza.factory.pizzaaf.ChicagoPizzaIngredientFactory">
    </bean>


</beans>
